.TodoList {
  /* box-shadow: 2px 2px 8px rgba(33, 33, 33, 0.8); */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 5px;
  /* background: rgba(66, 66, 66, 0.1); */
  padding: 40px 30px;
}

.TodoList--title {
  font-weight: 400;
  margin: 0px;
  margin-bottom: 40px;
  color: #212121;
}
