.TodoForm {
  width: 100%;
}

.TodoForm--form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.TodoForm--input_container {
  position: relative;
  width: 100%;
}

.TodoForm--input {
  background: none;
  border: none;
  border-bottom: 1px solid #424242;
  width: 90%;
  padding: 10px;
  font-size: 18px;
}

.TodoForm--input:focus {
  outline: none;
  border-bottom-color: #7242f5;
}

.TodoForm--label {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 18px;
  color: #212121;
  opacity: 0.75;
  transition: all 0.2s linear;
}

.TodoForm--label.active {
  font-size: 12px;
  top: -12px;
  opacity: 0.8;
  color: #7242f5;
}

.TodoForm--button {
  background: #7242f5;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.TodoForm--button:focus {
  outline: none;
}
